<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}
- Edit Product Review
{% endblock %}

{% block content %}
<!-- Page Title -->
<div id="page-title" class="row">
    <div class="col-12 my-auto">
        <hr class="title-border">
        <h2 class="page-title-font my-0">Edit Product Review</h2>
        <hr class="title-border">
    </div>
</div>

<!-- Edit Review Form -->
<div class="edit-product-review container">
    <div class="row mx-auto">
        <!-- Review Edit Details -->
        <div class="col-10 offset-1 my-auto">
            <form action="{% url 'edit_review' review.review_code %}" method="POST"
                    id="edit-review-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row d-md-none align-items-center mb-2 mt-0">
                    <div class="col-12">
                        <p class="text-body-secondary fw-medium">Use this form to edit your review for <em>{{ review.product.friendly_name }}</p>
                    </div>
                </div>
                <div class="row d-none d-md-flex align-items-center mb-2 mt-0">
                    <div class="col-2">
                        <a href="{% url 'product_detail' review.product.id %}">
                            {% if review.product.image %}
                            <img src="{% static 'media/' %}{{ review.product.image }}" alt="{{ review.product.name }}" class="w-100 product-img-order">
                            {% else %}
                            <img src="{% static 'media/noimage.png' %}" alt="{{ review.product.name }}" class="w-100 product-img-order">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-10">
                        <p class="text-body-secondary fw-medium">Use this form to edit your review for <em>{{ review.product.friendly_name }}</em></p>
                    </div>
                </div>

                <div class="row d-none">
                    <div class="form-group">
                        {{ form.user_profile|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.product|as_crispy_field }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-6 mb-0 my-auto">
                        {{ form.stars|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0 my-auto">
                        {{ form.name|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.comment|as_crispy_field }}
                    </div>
                </div>

                <!-- Edit Review form buttons -->
                <div class="submit-button mt-2 mb-2 text-center">
                    <!-- Cancel and link back to list of reviews -->
                    <a href="{% url 'my_reviews' %}" class="site-btn btn">
                        <span class="icon">
                            <i class="bi bi-arrow-left-circle"></i>
                        </span>
                        <span class="font-weight-bold">Cancel</span>
                    </a>
                    <!-- Save updated review -->
                    <button id="submit-button" class="site-btn btn">
                        <span class="font-weight-bold">Update Review</span>
                        <span class="icon">
                            <i class="bi bi-pencil-square"></i>
                        </span>
                    </button>
                </div>
            </form>
            <p></p>
        </div>
        <div class="col-10 offset-1 my-auto">
            <p class="text-center fw-lighter review-link-text">Once updated, please allow up to 5 working days
                for your review to be approved for publication.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}