<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Home
{% endblock %}

{% block content %}
<hr class="title-border">
<h1>Welcome to the Serenitea Emporium</h1>
<hr class="title-border">



<div class="parallax image-large plantation-meditation-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-0">
                <a href="{% url 'products' %}" class="site-btn btn rounded-0" role="button" >
                    View the products
                </a>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}