<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Home
{% endblock %}

{% block content %}
<!-- <hr class="title-border">
<h1>Welcome to the Serenitea Emporium</h1>
<hr class="title-border"> -->



<!-- <div class="hero-image"> -->
   

<div class="parallax welcome-image plantation-meditation-img">
<div class="">
    <div class="welcome-container">
        <h1 class="site-title-font">Welcome to the SereniTea Emporium</h1>
        <hr class="title-border">
        <p class="site-content-font"><em>SereniTea</em> - combining the tranquility
            associated with enjoying tea with, the fresh aroma of fruits and leaves, 
            and the pursuance of relaxation, evoking a blended sense of calm,
            exploration and discovery.
        </p>
        <a class="browse-btn btn" role="button" href="{% url 'products' %}">
            Browse the Products
        </a>
      </div>
    </div>
</div>
{% endblock %}