<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
- Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<!-- Page Title -->
<div id="page-title" class="row">
    <div class="col-12 my-auto">
        <hr class="title-border">
        <a href="{% url 'view_basket' %}" class="nav-link main-logo-link">
            <h2 class="page-title-font my-0">My Profile</h2>
        </a>
        <hr class="title-border">
    </div>
</div>


<!-- Profile Page -->
<div class="profile-page container">

    <div class="row mx-auto">
        <!-- User Profile -->
        <div class="col-10 offset-1 col-lg-6 offset-lg-0 my-auto">
            <p class="text-body-secondary">Default Delivery Information</p>
            <form action="{% url 'profile' %}" class="mt-3" method="POST" id="profile-update-form">
                {% csrf_token %}
                <!-- Customer Details -->
                <fieldset>
                    <legend class="fieldset-label">Default Delivery Information</legend>
                    {{ form|crispy }}
                </fieldset>
                <button class="site-btn btn">Update Information</button>
            </form>
            <p></p>
        </div>
        <div class="col-10 offset-1 col-lg-6 offset-lg-0 order-lg-last mb-5">
            <p class="text-body-secondary">Order History</p>
            <!-- responsive bootstrap table -->
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <th>Order #</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}"
                                    class="site-link">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="my-0 small text-body-secondary">
                                            {{ item.product.friendly_name }} x{{ item.quantity }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}