<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Basket
{% endblock %}

{% block content %}
<!-- Page Title -->
<div id="page-title" class="row">
    <div class="col-12 my-auto">
        <hr class="title-border">
        <a href="{% url 'view_basket' %}" class="nav-link main-logo-link">
        <h2 class="page-title-font my-0">Shopping Basket</h2>
        </a>
        <hr class="title-border">
    </div>    
</div>


<!-- Shopping Basket Content -->
<div class="shopping-basket">
    <div class="row mx-auto">
        <div class="col-10 offset-1 my-auto">
            {% if basket_items %}
                {% include 'basket/includes/display-basket.html' %}
            {% else %}
                <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="site-btn btn">
                        <span class="icon">
                            <i class="bi bi-arrow-left-circle"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-qty').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId)
        
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}