

/* ------------------------------------------- COLOR PALLETTE */
:root {
    --bistre: rgb(39,33,17);
    --timberwolf: rgb(208,204,192);
    --timberwolf-pale: rgba(208, 204, 192, 0.3);
    --ebony: rgb(98,95,80);
    --danger: rgb(220, 53, 69);  /* match Bootstrap text-danger */
}

/* ------------------------------------ GENERAL SITE SETTINGS */

/* Allow h-100 classes and vertical centering to work */
html {
    height: 100%;
}

nav, #topnav
{
    /* background-color: var(--timberwolf); */
}

/* ensure background image stays center of page */
body {
    /* background: url('../../media/tea_plantation.jpg') no-repeat center center fixed; */
    /* opacity: 0.5; */
    /* background-size: cover; */
    height: calc(100vh - 164px);
    /* background-color: var(--timberwolf); */
}

.site-btn {
    background-color: white;
    border: 2px solid var(--bistre); 
    color: black;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0 2;
}

.site-btn:hover,
.site-btn:focus {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24), 0 12px 40px 0 rgba(0,0,0,0.19);
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
    border: 1px solid var(--ebony); 
    transform: translateY(-0.25em);
}

.title-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.basket-table {
    width: 100%;
}

.update-qty,
.remove-item {
    cursor: pointer;
}

footer > .row {
    /* display: flex;
    justify-content: flex-start; */
    background-color: var(--timberwolf-pale);
    padding-top: 8px;
    margin-top: 10px;
}

footer > .row > p {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* ---------------------------------------------- FONT STYLES */

.in-development {
    background-color:gold;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
  
.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

title,
.site-title-font {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    
}

.site-content-font,
.navbar, 
.form-control,
.btn,
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

.site-content-font, 
.form-control,
p {
    font-weight: 200;
}

.navbar,
.btn {
    font-weight: 400;
}

.message-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.80rem;
    font-weight: 100;
    font-style: normal;
    color: black;
}

h1, h2,
.page-title-font {
    font-family: "Yeseva One", serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.product-name {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: black;
}

.sku {
    font-size: 0.75rem;
    font-style: italic;
    text-align: left;
}

.product-category-label {
    font-family: "Yeseva One", serif;
    font-weight: 100;
    font-size: 0.90rem;
    font-style: italic;
    text-decoration: none;
    color: var(--ebony);
    text-align: left;
    margin: auto;
}

.carousel-text {
    font-family: "Montserrat", sans-serif;
    color: var(--timberwolf);
    text-align: center;
    margin: auto;
}

.carousel-text a {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: var(--timberwolf);
    text-decoration: none;
}

.carousel-icon {
    color: var(--timberwolf);
}

#product-sort-selector {
    width: 100%;
}

.form-select {
    border: 2 solid black;
    border-radius: 0;
    color: var(--bistre);
    background-color: white;
}

a,
.site-link,
.product-sort > a {
    font-size: .9rem;
    font-weight: bold;
    border: 2 solid black;
    border-radius: 0;
    color: var(--bistre);
    /* background-color: white; */
}

.product-sort > a {
    text-decoration: none;
}
.site-link {
    text-decoration: underline;
}

.product-sort > .dropdown-menu {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: smaller;
    color: var(--bistre);
    border: 0;
}

.link-to-more-info {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
    font-style: italic;
    text-decoration:underline;
    color: var(--bistre);
    margin: auto;
}

.footer-text,
.footer-link {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--bistre);
}


/* ----------------------------------------- MESSAGES / TOASTS */

/* style adapted from Boutique Ado */
.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 1000;
}

.site-toast {
    /* border-radius: 0; */
    overflow: visible;
}

/* --------------------------------------------- PRODUCT CARDS */
.product-card {
    border: 1px solid var(--timberwolf);
}

.card-title {
    margin-top: 2px;
}

/* --------------------------------------------------- IMAGES */
.img-round {
    border-radius: ;
}

.img-faded {
    opacity: 0.5;
}

.product-img, .product-img-center {
    border-radius: 5%;
    min-height: 150px;
    min-width: 150px;
    max-height: 300px;
    max-width: 300px;
}

.product-img-basket {
    border-radius: 5%;
    width: 100px;
    height: 100px;
}

.product-img-order {
    border-radius: 5%;
}

.product-image-center {
    display: block;
    width: auto;
    margin: auto;
}


/* ---------------------------------------------------- FORMS */

.qty_input {
    text-align: center;
}


/* -------------------------------------------- MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` --> the Bootstrap default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* No additional modifications for small viewports */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* No additional modifications for medium viewports */
}

/* Additional formatting for small viewport navbar (up to Medium viewports) */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
   /* No additional modifications for medium viewports */    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container {
        max-width: 80%;
      }

    /* No additional modifications for x-large viewports */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* No additional modifications for xx-large viewports */
}