

/* ------------------------------------------- COLOR PALLETTE */
:root {
    --bistre: rgb(39,33,17);
    --timberwolf: rgb(208,204,192);
    --ebony: rgb(98,95,80);
}

/* ------------------------------------ GENERAL SITE SETTINGS */

/* Allow h-100 classes and vertical centering to work */
html {
    height: 100%;
}

nav, #topnav
{
    /* background-color: var(--timberwolf); */
}

/* ensure background image stays center of page */
body {
    /* background: url('../../media/tea_plantation.jpg') no-repeat center center fixed; */
    /* opacity: 0.5; */
    /* background-size: cover; */
    height: calc(100vh - 164px);
    /* background-color: var(--timberwolf); */
}

.site-btn {
    
    background-color: white;
    color: black;
    border: 2px solid var(--bistre); 
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0 2;
}

/* ---------------------------------------------- FONT STYLES */
.sku {
    font-size: 0.75rem;
    font-style: italic;
    text-align: left;
}

.product-category-label {
    font-size: 0.90rem;
    font-style: italic;
    color: var(--bistre);
    text-align: left;
    margin: auto;
}

.carousel-text {
    color: var(--timberwolf);
    text-align: center;
    margin: auto;
}

.carousel-text a {
    font-style: italic;
    color: var(--timberwolf);
    text-decoration: none;
}

.carousel-icon {
    color: var(--timberwolf);
}

/* --------------------------------------------- PRODUCT CARDS */
.product-card {
    border: 1px solid var(--timberwolf);
}

.card-title {
    margin-top: 2px;
}

/* --------------------------------------------------- IMAGES */
.img-round {
    border-radius: ;
}

.img-faded {
    opacity: 0.5;
}

.product-img, .product-img-center {
    border-radius: 5%;
    min-height: 200px;
    min-width: 200px;
    max-height: 400px;
    max-width: 400px;
}

.product-image-center {
    display: block;
    width: auto;
    margin: auto;
}


/* -------------------------------------------- MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` --> the Bootstrap default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* No additional modifications for small viewports */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* No additional modifications for medium viewports */
}

/* Additional formatting for small viewport navbar (up to Medium viewports) */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
   /* No additional modifications for medium viewports */    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container {
        max-width: 80%;
      }

    /* No additional modifications for x-large viewports */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* No additional modifications for xx-large viewports */
}