<div class="offcanvas offcanvas-start" id="products-nav" data-bs-scroll="true">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SereniTea Emporium</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle logo-font font-weight-bold nav-link text-black mr-5" href="#"
                    id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle logo-font font-weight-bold nav-link text-black" href="#" id="teas-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teas
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="teas-link">
                    <a href="{% url 'products' %}?category=black_tea" class="dropdown-item">Black Teas</a>
                    <a href="{% url 'products' %}?category=white_tea" class="dropdown-item">White Teas</a>
                    <a href="{% url 'products' %}?category=green_tea" class="dropdown-item">Green Teas</a>
                    <a href="{% url 'products' %}?category=flowering_tea" class="dropdown-item">Flowering Teas</a>
                    <a href="{% url 'products' %}?category=infusions" class="dropdown-item">Infusions</a>
                    <a href="{% url 'products' %}?group=tea" class="dropdown-item">All Teas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle logo-font font-weight-bold nav-link text-black" href="#" id="teaware-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teaware
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="teaware-link">
                    <a href="{% url 'products' %}?category=tea_cups" class="dropdown-item">Tea Cups</a>
                    <a href="{% url 'products' %}?category=teapots" class="dropdown-item">Teapots</a>
                    <a href="{% url 'products' %}?category=teaware_sets" class="dropdown-item">Teaware Sets</a>
                    <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                    <a href="{% url 'products' %}?group=teaware" class="dropdown-item">All Teaware</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle logo-font font-weight-bold nav-link text-black" href="#" id="artwork-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Artwork
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="artwork-link">
                    <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
                    <a href="{% url 'products' %}?category=afternoon_tea" class="dropdown-item">Afternoon Tea</a>
                    <a href="{% url 'products' %}?category=popart" class="dropdown-item">Popart</a>
                    <a href="{% url 'products' %}?category=tea_art" class="dropdown-item">Tea Art</a>
                    <a href="{% url 'products' %}?category=the_orient" class="dropdown-item">The Orient</a>
                    <a href="{% url 'products' %}?group=artwork" class="dropdown-item">All Artwork</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle logo-font font-weight-bold nav-link text-black" href="#" id="gifts-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gifts
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                    <a href="{% url 'products' %}?category=gift_sets" class="dropdown-item">Gift Sets</a>
                    <a href="{% url 'products' %}?category=gift_vouchers" class="dropdown-item">Gift Vouchers</a>
                    <a href="{% url 'products' %}?group=gifts" class="dropdown-item">All Gifts</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Specials
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                    <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                    <a href="{% url 'products' %}?category=limited_editions" class="dropdown-item">Limited Editions</a>
                    <a href="{% url 'products' %}?category=last_chance_to_buy" class="dropdown-item">Last Chance to Buy</a>
                    <a href="{% url 'products' %}?group=specials" class="dropdown-item">All Specials</a>
                </div>
            </li>
        </ul>
    </div>
</div>