<!-- Display shopping basket contents -->
{% load basket_tools %}
{% load static %}

<div class="table-responsive rounded basket-table">
    <table class="table table-sm table-borderless">
        <thead class="text-black">
            <tr>
                <th scope="col">Product Details</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>

        {% for item in basket_items %}
            <tr>
                <td class="p-2">
                    <!-- Product image - with link to product page -->
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                        <img class="product-img-basket"
                            src="{% static 'media/' %}{{ item.product.image }}"
                            alt="{{ product.name }}"
                            class="w-100 product-img-order">
                        {% else %}
                        <img class="product-img-basket"
                            src="{% static 'media/noimage.png' %}"
                            alt="{{ product.name }}"
                            class="w-100 product-img-order">
                        {% endif %}
                    </a>
                </td>
                <td class="py-2">
                    <!-- Product name & SKU -->
                    <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                </td>
                <td class="py-2">
                    <!-- Product price -->
                    <p class="my-0">£{{ item.product.price }}</p>
                </td>
                <td class="py-2">
                    <!-- Allow item quantity updates -->
                    <form action="{% url 'adjust_basket' item.item_id %}" class="form update-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group my-0">
                            <div class="input-group">
                                <input class="form-control form-control-sm qty_input" type="number"
                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                            </div>
                        </div>
                    </form>
                    <!-- update actions -->
                    <a class="update-qty text-success float-start"><small><i class="bi bi-arrow-clockwise"></i></small></a>
                    <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"><small><i class="bi bi-trash"></i></small></a>
                </td>
                <td class="py-2">
                    <!-- Calculate total cost of item order -> price * quantity -->
                    <p class="my-0">£{{ item.product.price|calculate_line_subtotal:item.quantity }}</p>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="pt-5 text-right">
                <!-- COSTS - basket, delivery & grand total -->
                <h6><strong>Basket Total: £{{ items_total|floatformat:2 }}</strong></h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                {% if amount_to_spend > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>£{{ amount_to_spend }}</strong> more!
                    </p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">
                <!-- OPTIONS: Continue Shopping or Checkout -->
                <a href="{% url 'products' %}" class="site-btn btn">
                    <span class="icon">
                        <i class="bi bi-arrow-left-circle"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="site-btn btn">
                    <span>Secure Checkout</span>
                    <span class="icon">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                </a>
            </td>
        </tr>
    </table>
</div>