<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
- Oops!
{% endblock %}

{% block extra_meta %}
<meta name="description" content="SereniTea Emporium - 404 error">
{% endblock %}

{% block content %}
<!-- Page Title -->
<div id="page-title" class="row">
    <div class="col-12 my-auto">
        <hr class="title-border">
        <h2 class="page-title-font my-0">404 - Page not Found</h2>
        <hr class="title-border">
    </div>
</div>

<!-- Error Notification -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">

            <div class="row">
                <div class="col-12 col-md-4 my-auto image-container text-center">

                    <a href="{% static 'media/oops.jpg' %}" target="_blank">
                        <img class="card-img-top img-fluid product-img" src="{% static 'media/oops.jpg' %}"
                            alt="Dropped cup, spilled tea and broken biscuits">
                    </a>

                </div>

                <div class="col-12 col-md-8 my-auto text-center">
                    <p></p>
                    <hr class="title-border d-md-none">
                    <p></p>
                    <h3 class="page-title-font my-0">Oops! Something went wrong!</h3>

                    <p class="page-title-font my-0">It appears the page you are looking for doesn't exist.</p>
                    <p></p>
                    <a href="{% url 'products' %}" class="site-btn btn mt-2">
                        <span class="icon">
                            <i class="bi bi-arrow-left-circle"></i>
                        </span>
                        <span>Return to browsing the products</span>
                    </a>
                    <p></p>
                </div>
                <p></p>
            </div>

        </div>
    </div>
</div>
{% endblock %}