<!-- 
    MILESTONE PROJECT 4 by MIKHAILA BURGESS
    "SERENITEA EMPORIUM"
    - - - - - - - - - - - - - - - - - - - -
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Products
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="product-container my-5 col-10 offset-1">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% if products %}
                    {% for product in products %}
                        <!-- <div class="col-10 col-sm-6 col-md-4 col-lg-3"> -->
                        <div class="col">
                            <div class="card product-card h-100">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}" >
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}    
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %} 
                                <div class="card-body px-2 py-2">
                                    {% if product.category %}
                                    <a class="product-category-label" href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a> 
                                    {% else %}
                                    <a class="product-category-label" href="{% url 'products' %}">SereniTea Product Catalogue</a> 
                                    {% endif %}
                                    <h5 class="card-title">{{ product.friendly_name }}</h5>
                                </div>
                                <div class="card-footer px-2 py-1 bg-white border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>    
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="bi bi-star-fill"></i> {{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted"> No Rating</small>
                                            {% endif %}
                                            <small><em>&nbsp;&nbsp;
                                                <a href="{% url 'product_detail' product.id %}">more ...</a>
                                            </em></small>
                                            
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <h4>Out of Stock</h4>
                {% endif %}
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}